aiogram==3.0.0b7
binance-connector==3.2.0
tronpy==2.0.0  # تم التعديل هنا
sqlalchemy[asyncio]==2.0.23
asyncpg==0.28.0
alembic==1.12.0
gunicorn==21.2.0
uvicorn==0.23.2
cryptography==41.0.3
python-decouple==3.8
